.header{
    width: 100%;
    height: 50px;
    background: gray;
    position: relative;
}

.headerelement{
    display:inline-block;
}

#appname.headerelement{
    font-size:40px;
}

#inputs.headerelement{
    position:relative;
    left: 50%;
}

.headerinput{
    height: 40%;
    width: 200px;
    vertical-align: middle;
    font-size: 100%;
    margin-bottom: 15px;
}

.headerbutton{
    height: 40%;
    width: 50px;
    vertical-align: middle;
    margin-bottom:15px;
}
